.head-logo {
    text-align: center;
}
.head-logo p {
    padding: 20px;
}
.menubar-nav {
    background-color:brown;
    text-align: center;
    padding: 30px 0;
}
.menubar-nav li {
    display: inline;
    font-size: 2rem;
    margin: 0 .5rem;
    position: relative;
}
.menubar-nav a {
    text-decoration: none;
    color: cornsilk;
    font-family: 'Nerko One', cursive;
    font-size: 2.5rem;
}
.menubar-nav a::before {
    content: "";
    background-color: cornsilk;
    width: 0;
    height: 1px;
    bottom: 0;
    position: absolute;
}
.menubar-nav a:hover::before {
    content: "";
    background-color: cornsilk;
    width: 100%;
    height: 1px;
    position: absolute;
}
.top-key {
    background-image: url(../image/top-key-bg.jpg);
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
}
.top-key-text {
    width: 40%;
    text-align: center;
}
.top-key-text h2 {
    margin-top: 70px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: normal;
    color:whitesmoke;
    font-family: 'Kosugi', sans-serif;
    float: right;
}
.top-key-text p {
    margin-bottom: 40px;
    font-size: 30px;
    color:whitesmoke;
    font-family: 'Kosugi', sans-serif;
    float: right;
}
.menu-button {
    min-width: 100px;
    height: 20px;
    padding: 1rem 2.5rem;
    background-color: #F38B05;
    border-radius: 23px;
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Kosugi', sans-serif;
    float: right;
}
.menu-button:hover {
    background-color: white;
    color: black;
    border: 4px solid #F38B05;
}
.news {
    background-image: url(../image/top-news-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 50px;
    text-align: center;
}
.news dl {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 20px;
    max-width: 960px;
    text-align: left;
}
.news dt {
    width: 80px;
    padding-top: 7px;
    border: 1px solid #000;
    border-radius: 14px;
    height: 28px;
    text-align: center;
    line-height: 1;
    font-size: 12px;
    font-family: 'Kosugi', sans-serif;
}
.news dd {
    width: 880px;
    padding-top: 3px;
    padding-bottom: 1.8rem;
    font-family: 'Kosugi', sans-serif;
}
.news span {
    padding: 0 1.5rem;
    font-family: 'Kosugi', sans-serif;
}
.news a {
    min-width: 280px;
    height: 46px;
    padding: 1rem 2.5rem;
    background-color: #41B0C7;
    border-radius: 23px;
    text-decoration: none;
    color: white;
    font-family: 'Kosugi', sans-serif;
}
.news a:hover {
    background-color: white;
    color: black;
    border: 3px solid #41B0C7;
}
.menu {
    text-align: center;
    padding-bottom: 50px;
}
.menu-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.menu-item {
    padding: 0 30px;
}
.menu-item a {
    text-decoration: none;
    font-family: 'Kosugi', sans-serif;
}
.menu-item a:hover {
    text-decoration: underline;
}
.about {
    background-image: url(../image/top-about-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-bottom: 50px;
    padding-right: 20px;
}
.about-wrapper {
    display: flex;
    margin-top: 10px;
}
.about-text h3 {
    font-size: 30px;
    margin-bottom: 30px;
    padding: 0 30px;
    font-family: 'Kosugi', sans-serif;
}
.about-text p {
    font-size: 20px;
    padding: 0 30px;
    font-family: 'Kosugi', sans-serif;
}
.about-text img {
    margin-top: 85px;
    margin-left: -150px;
}
.access {
    text-align: center;
}
.access iframe {
    vertical-align: bottom;
    filter: grayscale(1);
    width: 100%;
}
.footer-navbar-wrapper {
    padding: 1.5rem 0;
    background-color: #E6ECEA;
}
.footer-navbar {
    display: flex;
}
.wrapper {
    margin: 0 auto;
    max-width: 980px;
}
.footer-navbar ul {
    margin-top: 3px;
}
.footer-navbar li {
    font-size: 1.6rem;
    display: inline;
    margin-left: 1rem;
}
.footer-navbar a {
    text-decoration: none;
    color: black;
    font-family: 'Nerko One', cursive;
}
.footer-navbar a:hover {
    color: grey;
}
.footer-container-wrapper {
    background-color: #000;
    color: #FFF;
}
.footer-container {
    display: flex;
}
.footer-info {
    width: 50%;
    padding: 2rem 1rem;
}
.footer-info p {
    line-height: 2;
    font-family: 'Kosugi', sans-serif;
}
.copyright {
    text-align: center;
    padding: .6rem;
}
.menu-header-text{
    background-image: url(../image/contact-bg.jpg);
}
.header-img{
    text-align: center;
}
.menu-header h3{
    text-align: center;
}